.nav-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-right: 40px;
  padding-left: 40px;
  height: 70px;
}

.nav-container-img {
  height: 50px;
}

.user-nav-btn {
  cursor: pointer;
  transform: scale(3);
  background-color: black;
  border: none;
}

.profile-dropdown {
  position: absolute;
  border: 1px solid gray;
  background-color: black;
  margin-top: 15px;
  padding: 15px;
  right: 40px;
  width: 150px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.create-new-business {
  text-decoration: none;
  position: absolute;
  right: 100px;
  transition: background-color 0.3s;
  color: white
}

.greet-user {
  padding: 10px 0px;
  border-bottom: 1px solid gray;
}

.manage-businesses-current, .manage-reviews-current {
  text-decoration: none;
  color: white;
  transition: background-color 0.3s;
}

.logout-btn-container {
  padding-top: 15px;
  border-top: 1px solid gray;
}

.logout-btn {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #d32323;
  padding: 8px 19px 9px;
  color: white;
  background-color: #d32323;
  font-weight: bold;
  transition: background-color 0.3s;
}

.manage-businesses-current,
.manage-reviews-current,
.create-new-business {
  transition: box-shadow 0.3s;
}

.manage-businesses-current:hover,
.manage-reviews-current:hover, .create-new-business:hover {
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.logout-btn:hover {
  background-color: white;
  color: #d32323;
}
