.nav-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  padding-right: 40px;
  padding-left: 40px;
  height: 70px;
  /* margin: 0px 0px; */
}

.nav-logo {
  text-decoration: none;
}

.user-nav-btn {
  cursor: pointer;
  /* transform: scale(1.5); */
  transform: scale(2.5);
  background-color: white;
  border: none;
}

.profile-dropdown {
  position: absolute;
  border: 1px solid black;
  background-color: white;
  margin-top: 15px;
  padding: 15px;
  right: 40px;
  width: 150px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
}

.hidden {
  display: none;
}

.create-new-business {
  text-decoration: none;
  position: absolute;
  right: 100px;
  transition: background-color 0.3s;
  color: orangered
}

.greet-user {
  padding: 10px 0px;
  border-bottom: 1px solid gray;
}

.manage-businesses-current, .manage-reviews-current {
  text-decoration: none;
  color: black;
  transition: background-color 0.3s;
}

.logout-btn-container {
  padding-top: 15px;
  border-top: 1px solid gray;
}

.logout-btn {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #d32323;
  padding: 8px 19px 9px;
  color: white;
  background-color: #d32323;
  font-weight: bold;
}

.manage-businesses-current:hover,
.manage-reviews-current:hover, .create-new-business:hover {
  background-color: rgb(240, 240, 240);
}
