.signup-modal-window {
  width: 300px;
  height: 320px;
}

.signup-modal-title {
  text-align: center;
}

.signup-modal-form-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.signup-modal-email-input, .signup-modal-username-input,
.signup-modal-password-input, .signup-modal-confirm-password-input {
  width: 200px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.signup-modal-btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0px;
}

.signup-modal-signup-btn {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #d32323;
  padding: 8px 19px 9px;
  color: white;
  background-color: #d32323;
  font-weight: bold;
  transition: background-color 0.3s;
}

.signup-modal-errors {
  padding-left: 100px;
  width: 200px;
}

.on-submit-errors-signup {
  color: red;
  font-size: 14px;
}

.signup-modal-signup-btn:hover {
  background-color: white;
  color: #d32323;
}
