body {
  background-image: url('https://cdn5.vectorstock.com/i/1000x1000/10/19/bubble-tea-chalk-white-icon-on-dark-background-vector-38651019.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  /* background-size: cover; */
}
