.business-list-sub-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 30px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  border-radius: 5px;
}

.business-list-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.business-list-overall-stars,
.business-list-overall-no-stars {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
