.business-details-banner-img {
  height: 425px;
  width: 100%;
  object-fit: cover;
}

.business-details-window {
  display: flex;
  justify-content: center;
}

.business-details-container {
  width: 1024px;
  padding: 0px 20px;
}

.business-details-sub-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 30px 0px;
  border-bottom: 1px solid gray;
}

.business-details-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.preview-img {
  width: 220px;
  height: 220px;
}

.fa-solid, .fa-regular {
  color: orangered;
}

.business-details-overall-stars,
.business-details-overall-no-stars {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.business-details-additional-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.business-details-featured-items, .business-details-location-hours, .business-details-about-shop {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}
