.business-list-sub-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 30px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  border-radius: 5px;
}

.business-list-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 649px) {
  .business-list-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .business-list-details > h2 {
    text-align: center;
  }
  .business-list-type-price-city-container {
    text-align: center;
  }
}

.business-list-overall-stars,
.business-list-overall-no-stars {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
