.landing-page-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page-business-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 5px;
}

@media screen and (max-width: 649px) {
  .landing-page-window > h1 {
    text-align: center;
  }
  .business-list-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.landing-page-ul {
  list-style: none;
  padding-right: 40px;
}

.landing-page-banner-img {
  height: 550px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.landing-page-business-list-container {
  border-bottom: 1px solid gray;
  transition: box-shadow 0.3s;
  border-radius: 5px;
}

.landing-page-business-list-container:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
