.landing-page-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page-business-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page-ul {
  list-style: none;
}

.landing-page-banner-img {
  height: 550px;
  width: 100%;
  object-fit: cover;
}
