.manage-reviews-banner-img {
  height: 425px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.manage-reviews-container {
  text-align: center;
}

.manage-reviews-window {
  display: flex;
  justify-content: center;
}

.manage-reviews-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1024px;
  padding: 0px 20px;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 5px;
}

.manage-reviews-user-reviews {
  border-bottom: 1px solid gray;
  padding: 30px 0px;
}

.manage-reviews-stars-date {
  display: flex;
  gap: 5px;
}

.manage-reviews-btn-container {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

.manage-reviews-stars-date {
  padding-bottom: 20px;
}
