.manage-reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-reviews-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-reviews-stars-date {
  display: flex;
  gap: 5px;
}
